<html>
    <head>
        <title>Message Board</title>
    </head>
    <body>
        <h3>Hello Gin Web Application.</h3>

        <!--Loop over the payload variable, which is the list of messages-->
        {{range .payload }}
        <!--Create the link for the message based on its ID-->
        <a href="/message/view/{{.ID}}">
            <!--Display the title of the message -->
            <h3>{{.Title}}</h3>
        </a>
        <!--Display the content of the message-->
        <p>{{.Content}}</p>
        {{end}}
    </body>
</html>